# deployments
output/
*.zip

# terraform
.terraform/
*.lock.hcl
*.tfstate
*.tfvars

.history/
.vs/

.DS_Store
dist/
node_modules/
__azurite*
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
widgets/product-build/src/api/.venv/
widgets/product-build/src/api/HttpTrigger1/__pycache__/
