.button {
    color: #ffffff;
    border-top: 1px solid rgba(84.66944732666016, 84.66944732666016, 84.66944732666016, 1);
    box-shadow: none;
    font-style: normal;
    margin-top: 12px;
    border-left: 1px solid rgba(84.66944732666016, 84.66944732666016, 84.66944732666016, 1);
    font-weight: normal;
    padding-top: 9px;
    border-right: 1px solid rgba(84.66944732666016, 84.66944732666016, 84.66944732666016, 1);
    margin-right: 20px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(84.66944732666016, 84.66944732666016, 84.66944732666016, 1);
    margin-bottom: 10px;
    padding-right: 30px;
    padding-bottom: 9px;
    background-color: rgb(20, 31, 151);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button-small {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-delete {
    background-color: rgb(154, 41, 41);
}

.button-cancel {
    background-color: rgb(86, 86, 86);
}

.button-group-center {
    text-align: center;
    padding-top: 20px;
}