.card.item-tile {
    margin-left: 3em;
    margin-right: 3em;
}

.card {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.12549019607843137);
    margin: 15px;
    padding: 10px;
    padding-top: 1px;
    text-align: left;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

.card {
    flex-direction: row;
    flex-wrap: wrap;
}