.card.item-tile {
    margin-left: 0;
    margin-right: 0;
}

.card {
    border-top: none;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.12549019607843137);
    margin: 10px;
    padding: 10px;
    padding-top: 5px;
    text-align: left;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.card {
    flex-direction: row;
    flex-wrap: wrap;
}